In [1]:
# Import your libraries and data
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [2]:
a=pd.read_csv('/content/bank_marketing.csv')
a.head()

   y  age  marital  ever_defaulted  housing_loan  Personal_loan
0  0   56        1               0             0              0
1  0   37        1               0             1              0
2  0   40        1               0             0              0
3  0   56        1               0             0              1
4  0   59        1               0             0              0

In [3]:
# Choose the dependent and Independent variables
X = a[['age','marital','ever_defaulted','housing_loan','Personal_loan']]
Y = a[['y']]

In [4]:
# Train, test/validation split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.20, 
random_state = 42)
test_df = pd.concat ([X_test,y_test],axis =1)

In [5]:
# Initialize and train your model
gbcl = GradientBoostingClassifier(random_state = 42)
gbcl.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(random_state=42)

In [7]:
# Predict the test data based on the trained model
gbcl_pred = gbcl.predict(X_test)
accuracy_score(y_test, gbcl_pred)

0.8712216624685138